<div class="row ">
  <div class="card rounded-0  table-responsive " style="width: 100% ; ">
    <span class="fw-bold fs-4 text-center p-4">طلبات الاشتراك</span>
    <div class="alert alert-danger text-center" role="alert" *ngIf="showAlert">
      {{ AlertMsg }}
    </div>
    

    <table class="table table-bordered table-hover text-center border ">
      <thead class="border">
        <th class="border">رفض/قبول</th>
        <th class="border ">رقم التليفون</th>
        <th class="border d-sm-none">البريد الالكتروني</th>
        <th class="border  kg">الوزن</th>
        <th class="border hit">الطول</th>
        <th class="border">اسم المريض</th>
      </thead>

      <tbody class="border">
      <tr class="border"  class="border py-auto" *ngFor="let patient of waitingPatients; trackBy: trackByFunction ">

        <td class="border">
          <button class="btn btn-success m-2 buttonn1" (click)="AcceptPatient(patient.noEat[0].patientId)" >قبول</button>
          <button class="btn btn-danger m-2 buttonn2"(click)="RejectPatient(patient.noEat[0].patientId)" >رفض</button>
        </td>

        <td class="border">{{patient?.phoneNumber}}</td>
        <td class="border">{{patient?.email}}</td>
        <td class="border">{{patient?.weight}}</td>
        <td class="border">{{patient?.height}}</td>
        <td class="border">{{patient?.fullName}}</td>
      </tr>
          </tbody>
    </table>
  </div>
</div>