<div class="fixed-paragraph" id="hideP" *ngIf="isPatient.value ==1">
  اعرف دكتورك

  <button class="btn btnB" (click)="ShowDoctors()">اعرف دكتورك</button>

</div>

<div class="landing">

  <div class="text">
    <div class="content">
      <div class="geeks"></div>

      <h2>
        <span>New Start with</span> <br />
        Doctor Diet.
      </h2>
      <p>
        مع دكتور دايت هتتشخص صح و الوصول لنتيجه المطلوبه و هتخس بشكل صحى فى اقل
        وقت بشكل منظم ومتابعة مستمرة
      </p>
    </div>
  </div>
</div>

<div class="portfolio paragraph my-5 px-3 px-md-5" id="portfolio">
  <div class="row">
   
      <h1 style="font-size: 1.33rem; font-weight: bold; text-align: right; color: #1C4980;">
        <br>افتح الباب لحياة أكثر صحة: مرحبًا بك في بدايتك الجديدة<br>
      </h1>
      <p style="font-size: 1.2rem; text-align: right; color: #1C4980;">
        يمكنك تحقيق الصحة والعافية المثلى. لنبدأ هذه الرحلة معًا واكتشف أفضل نسخة من نفسك</p>

      <ul style="padding: 20px; text-align: right; color: #1C4980; list-style: none;">
        <li>فقدان الوزن<i class="fa-solid fa-diamond d-inline text-success mx-3" style="font-size: 1.571rem;"></i></li>
        <li>بناء العضلات<i class="fa-solid fa-diamond d-inline text-success mx-3" style="font-size: 1.571rem;"></i></li>
        <li>تناول طعامًا صحيًا<i class="fa-solid fa-diamond d-inline text-success mx-3" style="font-size: 1.571rem;"></i></li>
      </ul>
 
  </div>
</div>

<div class=" d-flex justify-content-center align-items-center mx-auto">
  <div class="container">

    <div class="row ms-5">
      <div class="card col-lg-3  mx-2" style="width: 18rem ; border: 0;">
        <img src="assets/plan.jpg"   
         style="width: auto; height: auto; " loading="lazy" class="card-img-top p-5" alt=".ghh.." name="ok" />
        <div class="card-body">
          <h5 class="card-title p-2 text-white rounded-1" style="font-size: 1.33rem ; font-weight: bold; text-align: center; background-color: #0f62c6;">
            صحتك اهم</h5>

        </div>
      </div>
      <div class="card col-lg-3 mx-2" style="width: 18rem ;  border: 0;">
        <img src="assets/calories-calculator.jpg"    style="width: auto; height: auto;" loading="lazy" class="card-img-top p-5" alt="...iu" name="uy" />
        <div class="card-body">
          <h5 class="card-title p-2 text-white rounded-1" style="font-size: 1.33rem ; font-weight: bold; text-align: center; background-color: #0f62c6;">
            الدايت مش حرمان </h5>

        </div>
        
      </div>
      <div class="card col-lg-3 mx-2" style="width: 18rem ;  border: 0;">
        <img src="assets/calories.webp"   style="width: auto; height: auto;" class="card-img-top p-5" alt=".rew.." name="ttwe" />
        <div class="card-body">
          <h5 class="card-title p-2 text-white rounded-1" style="font-size: 1.33rem ; font-weight: bold; text-align: center; background-color: #0f62c6;">
            التغيير بيبدأ بخطوة</h5>

        </div>
      </div>
      <div class="card col-lg-3  mx-2" style="width: 18rem ;  border: 0;">
        <img src="assets/safe.png"    style="width: auto; height: auto;" loading="lazy" class="card-img-top p-5" alt="...reee" name="iwe"/>
        <div class="card-body">
          <h5 class="card-title p-2 text-white rounded-1" style="font-size: 1.33rem ; font-weight: bold; text-align: center; background-color: #0f62c6;">
            اطمن وانت معنا</h5>

        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="row row-cols-1 row-cols-md-4 mx-3 g-3">
  
  <div class="col">
    <div class="card ">
 
          <img 
          style="height: 50vh;"
          loading="lazy"
          
          src="assets/p1.jpg" class="card-img-top "
           alt="..d." name="we1">
      
      <div class="card-footer" style="text-align:center;">
        <small class="text-muted mx-auto "  >من 80 كيلو الي 70 كيلو</small>
      </div>
    </div>
  </div>

<div class="col">
  <div class="card ">

        <img 
        loading="lazy"
        style="height: 50vh; "
        src="assets/p2.jpg" class="card-img-top "
         alt="...r" name="we">
    
    <div class="card-footer" style="text-align:center;">
      <small class="text-muted mx-auto">من 100 كيلو الي 75 كيلو</small>
    </div>
  </div>
</div>

<div class="col">
  <div class="card ">

        <img 
        loading="lazy"
        style="height: 50vh;"
        src="assets/p3.jpg" class="card-img-top "
         alt="...e" name="we">
    
    <div class="card-footer" style="text-align:center;">
      <small class="text-muted mx-auto">من 60 كيلو الي 50 كيلو</small>
    </div>
  </div>
</div>

<div class="col">
  <div class="card ">

        <img 
        loading="lazy"
        style="height: 50vh;"
        src="assets/p4.jpg" class="card-img-top "
         alt="...w4" name="w7">
    
    <div class="card-footer" style="text-align:center;">
      <small class="text-muted mx-auto">من 70 كيلو الي 66 كيلو</small>
    </div>
  </div>
</div>
</div> -->


<div class="row my-5 paragraph" style="text-align: right;">

 
  <div class="col-md-12 py-5  p-5">
    <p class="">يوفر الموقع العديد من الخدمات والنصائح العملية والبرامج الغذائية المناسبة لكل فرد بناءً على حالته الصحية ومتطلباته الغذائية الفردية يتيح الموقع للمستخدمين إجراء تقييم شامل لحالتهم الصحية والغذائية ، وذلك من خلال الإجابة على بعض الأسئلة المتعلقة بنمط الحياة والغذاء والأمراض المزمنة والأدوية المستخدمة. كما يقدم الموقع خدمات الاستشارة الغذائية عبر الإنترنت مع أطباء متخصصين في التغذية والسمنة، ويمكن للمستخدمين الاستفسار عن أي مسألة تخص التغذية والسمنة والحصول على الإرشادات المناسبة والنصائح الغذائية المناسبة لحالتهم الصحية بشكل عام، يهدف الموقع إلى توعية الناس بأهمية التغذية الصحية والحفاظ على وزن صحي، ويعمل على تحسين جودة الحياة للأشخاص الذين يعانون من مشاكل الوزن والسمنة</p>
  </div>

</div>



